a {
    color: black;
}

.active a {
    color: #ffffff !important;
}

.active {
    background-color: #8600bd !important;
}

.material-icons {
    color: #8600bd !important;
}

.active .material-icons {
    color: #ffffff !important;
}

.row span {
    font-size: 12px;
    font-weight: bold;
}

.num {
    margin: 0 !important;
    color: #4e006e;
    font-size: 16px;
    font-weight: bold;
}