<nav class="nav-extended">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Frenzy App</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="dropdown-button dropdown-trigger" data-target="dropdown">
                    <i class="fa fa-globe fa-1x badge"></i>
                    <span class="nav-label-icon">2</span>
                    <ul id='dropdown' class='dropdown-content col s12 collection'>
                        <li class="collection-item avatar" *ngFor="let data of userData.user.notifications">
                            <img src="http://placehold.it/50x50" class="circle">
                            <span [ngClass]="data.read ? 'isRead' : 'unread'">{{data.message}}</span>
                            <p class="time">{{data.created}}</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <a title="Home" (click)="goToUserSection()">
                        <i class="material-icons">
                            home
                        </i>
                    </a>
                </li>
                <li>
                    <a title="Logout" (click)="logout()">
                        <i class="material-icons">
                            exit_to_app
                        </i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-content">
            <div class="nav-div">
                <img src="http://placehold.it/50x50" alt="" class="circle responsive-img">
            </div>
            <h1 class="profile-name" *ngIf="userData?.user">
                {{user}}
            </h1>
        </div>
    </div>
    
</nav>