<ul class="collection">
    <li class="collection-item avatar">
      <img src="http://placehold.it/50x50" alt="" class="circle">
      <span class="title">Title</span>
      <p class="time">Date<br>
         Country
      </p>
    </li>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                    <img class="postImage" src="https://via.placeholder.com/350x150" alt="">
                </div>
                <div class="card-content">
                    <p>POST</p>
                </div>
                <div class="card-action">
                    <i class="material-icons">thumb_up</i>
                    <span class="icinSpan">10</span>
                    <i class="material-icons lf">chat</i>
                    <span class="icinSpan">10</span>
                </div>
            </div>
        </div>
    </div>
</ul>