<div class="container">
  <div class="row">
    <div class="col s10 offset-m1" id="panel">
      <h3 id="title">Sign Up</h3>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="user_name" type="text">
            <label for="user_name">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email">
            <label for="email">Email</label>
          </div>
        </div>
        <button id="signupbtn" class="btn waves-effect">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
