#panel {
    background-color: #ffffff;
  }
  #signupbtn {
    background-color: #4e006e;
    font-weight: 500;
  }
  #title {
    background-color: #4e006e;
    color: white;
    padding: 8px;
    padding-bottom: 18px;
    margin-top: 0px;
    text-align: center;
  }
  form {
    padding: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
  }
  
  .error {
    color: red;
  }
  
  .indeterminate {
    background-color: #64b5f6 !important;
  }
  
  .input-field {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  
  #errorMsg {
    background: #f6b2b5;
    width: 100%;
    height: 50px;
    text-align: center;
  }
  
  #errorMsg span {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    float: left;
    font-size: 15px;
  }

  input:not([type]):focus:not([readonly]), 
  input[type=text]:not(.browser-default):focus:not([readonly]), 
  input[type=password]:not(.browser-default):focus:not([readonly]), 
  input[type=email]:not(.browser-default):focus:not([readonly]), 
  input[type=url]:not(.browser-default):focus:not([readonly]), 
  input[type=time]:not(.browser-default):focus:not([readonly]), 
  input[type=date]:not(.browser-default):focus:not([readonly]), 
  input[type=datetime]:not(.browser-default):focus:not([readonly]), 
  input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
  input[type=tel]:not(.browser-default):focus:not([readonly]), 
  input[type=number]:not(.browser-default):focus:not([readonly]), 
  input[type=search]:not(.browser-default):focus:not([readonly]), 
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #8600bd !important;
    box-shadow: 0 1px 0 0 #8600bd !important;
}

  input[type=text]:not(.browser-default):focus:not([readonly]) + label {
    color: #8600bd !important;
  }
  
  input[type=password]:not(.browser-default):focus:not([readonly]) + label {
    color: #8600bd !important;
  }

  input[type=email]:not(.browser-default):focus:not([readonly]) + label {
    color: #8600bd !important;
  }
  