<div class="col s12 m6 l4 cardDiv">
    <div class="card">
        <a>
            <div class="card-image imgDiv">
                <img src="http://placehold.it/100x100" class="imgCircle responsive-img">
            </div>
        </a>
        <div class="card-action">
            <h3 class="card-title">
                Username
            </h3>
            <p>Country</p>
            <button class="btn">Follow</button>
            <a class="secondary-content">
                <i class="material-icons">chat</i>
            </a>
        </div>
    </div>
</div>