.postDiv {
    background-color: #4e006e;
  }
  
  form {
    background-color: #fff;
  }
  
  .formDiv {
    margin: 0px 20px 0px 20px;
    padding: 12px;
  }
  
  .addImageBtn {
    margin-bottom: 5px;
  }
  
  .postBtn {
    margin-bottom: 5px;
  }
  
  .title {
    font-weight: bold;
    color: #4e006e;
  }
  
  .time {
    font-size: 14px;
    color: #4e006e;
  }
  
  .postComment {
    font-size: 15px;
  }
  