<ul class="collection col s12 m10" *ngIf="(userData && userData.user.notifications.length > 0)">
    <li class="collection-item avatar" *ngFor="let data of userData.user.notifications">
        <img src="http://placehold.it/50x50" alt="" class="circle">
        <span class="title">{{data.message}}</span>
        <a class="secondary-content">
            <i *ngIf="!data.read" class="material-icons">brightness_1</i>
            <i *ngIf="data.read" class="material-icons">panorama_fish_eye</i>
        </a>
        <p class="time">{{currentTime(data.created)}}</p>
        <div>
            <i 
                class="material-icons" 
                [ngClass]="data.read ? 'disabled' : 'notDisabled'"
                (click)="mark(data)">
                check
            </i>
            <i class="material-icons" (click)="delete(data)">
                delete_forever
            </i>
        </div>
    </li>
</ul>
<div class="row" *ngIf="userData.user.notifications.length <= 0">
    <h3 class="text">No recent notifications</h3>
</div>