#panel {
    background-color: #ffffff;
  }
  #loginbtn {
    background-color: #4e006e;
    font-weight: 500;
  }
  #title {
    background-color: #4e006e;
    color: white;
    padding: 8px;
    padding-bottom: 18px;
    margin-top: 0px;
    text-align: center;
  }
  form {
    padding: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
  }
  
  .error {
    color: red;
  }
  
  .indeterminate {
    background-color: #64b5f6 !important;
  }
  
  .input-field {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  
  #errorMsg {
    background: #f6b2b5;
    width: 100%;
    height: 50px;
    text-align: center;
  }
  
  #errorMsg span {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    float: left;
    font-size: 15px;
  }

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: #8600bd !important;
}

input[type=password]:not(.browser-default):focus:not([readonly]) + label {
  color: #8600bd !important;
}
  