.bodyDiv {
  height: 100vh;
}

.text-title {
  color: #4e006e !important;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 12px;
  font-size: 18px;
}

.bg-auth {
  background: #4e006e;
}

.tabs a {
  color: #4e006e;
  font-weight: bold;
  font-size: 16px;
}

.tabs .active {
  background: #ffdbfd !important;
  border-bottom: 1px solid black
}

.auth-cont {
  height: 503px;
}