.bodyDiv {
  height: 100vh;
}

.text-title {
  color: #26a69a !important;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 12px;
  font-size: 18px;
}

.bg-auth {
  background: #26a69a;
}

.tabs a {
  color: #26a69a;
  font-weight: bold;
  font-size: 16px;
}

.tabs .active {
  background: #e1fcf9 !important;
}

.auth-cont {
  height: 503px;
}