<nav class="nav-extended">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Frenzy App</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li></li>
                <li></li>
                <li>
                    <a title="Logout" (click)="logout()">
                        <i class="material-icons">
                            exit_to_app
                        </i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-content">
            <div class="nav-div">
                <img src="http://placehold.it/50x50" alt="" class="circle responsive-img">
            </div>
            <h1 *ngIf="userData" class="profile-name">
                {{userData.username}}
            </h1>
        </div>
    </div>
    
</nav>