<div class="row">
    <div class="col s12 m12 l10">
        <div class="card postDiv">
            <div class="card-content">
                <form novalidate [formGroup]="postForm">
                    <div class="formDiv">
                        <textarea formControlName="post" id="textarea1" class="materialize-textarea"></textarea>
                            <span class="help-block" *ngIf="(postForm.get('post').touched || postForm.get('post').dirty) && postForm.get('post').errors">
                                <span *ngIf="postForm.get('post').errors.required">
                                Post is required
                                </span>
                            </span>
                        <div class="file-field input-field">
                            <div class="row">
                                <div class="col s6">
                                    <div class="btn">
                                        <span>
                                            <i class="material-icons">image</i>
                                            Image
                                        </span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input type="text" class="file-path validate">
                                    </div>
                                </div>
                                <div class="col s6">
                                    <button (click)="createPost()" class="btn postBtn">
                                        Post
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>